# python
data-generation/venv/
data-generation/.idea/
data-generation/keys.json

# react app dependencies
react-app/node_modules

# css files
react-app/src/*.css

# testing
react-app/coverage

# production
react-app/build

# misc
.DS_Store
react-app/package-lock.json
react-app/.env.local
react-app/.env.development.local
react-app/.env.test.local
react-app/.env.production.local

react-app/npm-debug.log*
react-app/yarn-debug.log*
react-app/yarn-error.log*

react-app/src/*_old.*
