body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.app-title {
  background-color: PaleGoldenrod; }

.app-map {
  background-color: Azure;
  padding-right: 0;
  padding-left: 0; }

.map-wrapper {
  float: left; }

.map-usa-states, .map-usa, .map-neighbor {
  stroke: #ccc; }

.map-usa-states {
  fill: white; }

.map-usa {
  fill: none; }

.map-neighbor {
  fill: #efefef; }

.map-park-size {
  fill: rgba(128, 128, 0, 0.5); }

.ridge-parks {
  stroke: DarkGreen;
  fill: white;
  stroke-linecap: round; }

.ridge-parks.active {
  fill: DarkGreen; }

.ridge-parks.defocused {
  fill: SaddleBrown; }

.ridge-blank {
  stroke: #efefef; }

/* ridge plots */
.ridge-plots {
  padding-top: 20px; }

.ridge-plot-fill {
  stroke: none; }

.ridge-plot-outline {
  fill: none;
  stroke: SaddleBrown;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round; }

.ridge-plot-outline.active {
  stroke-width: 2; }

.ridge-plot-name {
  text-anchor: end;
  font-size: 10px;
  cursor: pointer; }

.ridge-g.defocused .ridge-plot-fill {
  fill: none !important; }

.ridge-g.defocused .ridge-plot-outline {
  stroke: grey; }

.ridge-g.defocused .ridge-plot-name {
  fill: grey; }

/* dimmmed comes later than defocused for overriding */
.ridge-g.dimmed .ridge-plot-fill {
  fill: none !important; }

.ridge-g.dimmed .ridge-plot-outline {
  stroke: lightGrey; }

.ridge-g.dimmed .ridge-plot-name {
  fill: lightGrey; }

.ridge-plot-name.hover {
  fill: black !important; }

/* overrise */
.Select-multi-value-wrapper .Select-value {
  color: DarkGreen; }
