@import url("https://fonts.googleapis.com/css?family=Cabin:500,700|Lusitana:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

/* override react-select styles*/
.Select {
  font-family: "Lusitana", Georgia, "Times New Roman", serif; }

.Select-control {
  color: #323045; }
  .Select-control .Select-placeholder {
    color: #323045; }

.Select-option {
  color: #6a6f72; }

.Select-option.is-focused {
  background-color: #ffc62f;
  color: #323045; }

/* only for single selection */
.Select--single.is-focused:not(.is-open) > .Select-control {
  border-color: #54507d;
  box-shadow: none; }

.Select-menu-outer .Select-option.is-selected {
  background-color: #fef7cd; }

/* only for Multi selection */
.Select--multi.is-focused:not(.is-open) > .Select-control {
  border-color: #ffc62f;
  box-shadow: none; }

.Select.Select--multi .Select-control {
  padding-bottom: 2px; }

.Select.Select--multi .Select-value {
  font-size: 1em;
  border-color: #54507d;
  color: #54507d;
  background-color: #fef7cd; }
  .Select.Select--multi .Select-value .Select-value-icon {
    border-right-color: #54507d; }
    .Select.Select--multi .Select-value .Select-value-icon:hover {
      color: #d65d3e;
      background-color: rgba(0, 0, 0, 0.1); }
  .Select.Select--multi .Select-value:nth-last-child(2) {
    color: #d65d3e; }

.Select.Select--multi .Select-input {
  height: ''; }

.row-no-margin {
  margin-right: 0;
  margin-left: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); }

.title-wrapper {
  background-color: #323045;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  text-align: center; }
  .title-wrapper .diagonal {
    background-color: transparent;
    background-image: -webkit-linear-gradient(8deg, transparent 49.5%, #323045 50%);
    min-height: 500px;
    min-height: 100%;
    position: absolute;
    left: -100px;
    width: 100px;
    top: 0; }
  .title-wrapper .mountain {
    background-image: url("/assets/SVG/mountain.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    background-position-x: center;
    margin-top: 1.6em; }
  .title-wrapper .title {
    color: white;
    font-family: "Cabin", "Hevetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.02em;
    line-height: 110%;
    display: flex;
    justify-content: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em; }
    .title-wrapper .title .national {
      color: #c4dee2;
      margin-right: 0.2em;
      letter-spacing: 0em; }
    .title-wrapper .title .parks {
      text-align: left; }
    .title-wrapper .title .and {
      font-weight: 300;
      margin-left: 0.2em; }
    .title-wrapper .title .al {
      color: #c4dee2;
      font-weight: normal;
      letter-spacing: 0em; }
  .title-wrapper .headline {
    color: #ffc62f;
    font-family: "Lusitana", Georgia, "Times New Roman", serif;
    margin-bottom: 2em; }
  .title-wrapper .comparison {
    text-align: center;
    margin-bottom: 1em; }
    .title-wrapper .comparison .button {
      font-size: 1.2em;
      letter-spacing: 0.1em;
      display: inline-block;
      background-color: #ffc62f;
      color: #323045;
      font-family: "Cabin", "Hevetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 1em;
      padding: 0.4em 1em;
      border-radius: 4px;
      cursor: pointer; }
      .title-wrapper .comparison .button:hover {
        background-color: #c4dee2; }
  .title-wrapper .park-select {
    margin-right: 2em;
    margin-left: 2em;
    text-align: left; }
  .title-wrapper .upto {
    margin-top: 0.6em;
    color: #c4dee2;
    font-family: "Lusitana", Georgia, "Times New Roman", serif; }

/* map */
.app-map {
  background-color: #c4dee2;
  padding-right: 0;
  padding-left: 0; }

.map-wrapper {
  float: left; }

.map-usa-states, .map-usa, .map-neighbor {
  stroke: #b1b5b8; }

.map-usa-states {
  fill: white; }

.map-usa {
  fill: none; }

.map-neighbor {
  fill: rgba(219, 222, 224, 0.5); }

.map-park-size {
  fill: rgba(84, 80, 125, 0.5); }

.map-park-size.active {
  fill: #d65d3e; }

.map-park-size.defocused {
  fill: #54507d; }

.ridge-parks {
  stroke: #323045;
  fill: white;
  stroke-linecap: round; }

.ridge-parks.active {
  fill: #d65d3e; }

.ridge-parks.defocused {
  fill: #54507d; }

.ridge-blank {
  stroke: rgba(196, 222, 226, 0.5); }

/* ridge plots */
.ridge-plots-wrapper {
  padding-top: 20px; }

.ridge-plots {
  position: relative;
  padding-left: 0;
  padding-right: 0; }

.ridge-plot-month {
  display: none; }

.ridge-plot-month.month-label {
  font-size: 10px;
  fill: grey;
  text-anchor: middle; }

.ridge-plot-month.month-line {
  stroke: lightGrey; }

.ridge-plot-outline {
  fill: none;
  stroke: DarkGreen;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round; }

.ridge-plot-name {
  text-anchor: end;
  font-size: 10px;
  cursor: pointer; }

.ridge-g.active .ridge-plot-month {
  display: block; }

.ridge-g.active .ridge-plot-outline {
  stroke-width: 2; }

.ridge-g.defocused .ridge-plot-month {
  display: none; }

.ridge-g.defocused .ridge-plot-outline {
  stroke: grey; }

.ridge-g.defocused .ridge-plot-name {
  fill: grey; }

/* dimmmed comes later than defocused for overriding */
.ridge-g.dimmed .ridge-plot-month {
  display: none; }

.ridge-g.dimmed .ridge-plot-outline {
  stroke-width: 1;
  stroke: lightGrey; }

.ridge-g.dimmed .ridge-plot-name {
  fill: lightGrey; }

.ridge-plot-name.hover {
  fill: black !important; }

/* coxcomb */
.coxcomb-label {
  alignment-baseline: central; }

.fill-normal {
  fill: black; }

/* comparision */
.comparison .names {
  text-align: center; }

.comparison .label:not(:last-child) {
  margin-right: 20px; }

.comparison .label-bg {
  width: 60px;
  height: 20px;
  display: inline-block; }

.comparison .label-0 {
  background-color: red; }

.comparison .label-1 {
  background-color: blue; }

.comparison .label-2 {
  background-color: green; }

.comparison .label-3 {
  background-color: yellow; }

.comparison .fill-0 {
  fill: red; }

.comparison .fill-1 {
  fill: blue; }

.comparison .fill-2 {
  fill: green; }

.comparison .fill-3 {
  fill: yellow; }

.comparison .temp-line {
  fill: none;
  stroke-width: 2px; }

.comparison .line-0 {
  stroke: red; }

.comparison .line-1 {
  stroke: blue; }

.comparison .line-2 {
  stroke: green; }

.comparison .line-3 {
  stroke: yellow; }
