body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.app-title {
  background-color: PaleGoldenrod; }

.app-map {
  background-color: Azure;
  padding-right: 0;
  padding-left: 0; }

.map-wrapper {
  float: left; }

.map-usa-states, .map-usa, .map-neighbor {
  stroke: #ccc; }

.map-usa-states {
  fill: white; }

.map-usa {
  fill: none; }

.map-neighbor {
  fill: #efefef; }

.map-park-size {
  fill: rgba(128, 128, 0, 0.5); }

.ridge-parks {
  stroke: DarkGreen;
  fill: white;
  stroke-linecap: round; }

.ridge-parks.active {
  fill: DarkGreen; }

.ridge-parks.defocused {
  fill: SaddleBrown; }

.ridge-blank {
  stroke: #efefef; }

/* ridge plots */
.ridge-plots {
  padding-top: 20px; }

.ridge-month .month-label {
  font-size: 10px;
  fill: grey;
  text-anchor: middle; }

.ridge-month .month-line {
  stroke: lightGrey; }

.ridge-plot-fill {
  stroke: none; }

.ridge-plot-outline {
  fill: none;
  stroke: SaddleBrown;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round; }

.ridge-plot-outline.active {
  stroke-width: 2; }

.ridge-plot-name {
  text-anchor: end;
  font-size: 10px;
  cursor: pointer; }

.ridge-g.defocused .ridge-plot-fill {
  fill: none !important; }

.ridge-g.defocused .ridge-plot-outline {
  stroke: grey; }

.ridge-g.defocused .ridge-plot-name {
  fill: grey; }

/* dimmmed comes later than defocused for overriding */
.ridge-g.dimmed .ridge-plot-fill {
  fill: none !important; }

.ridge-g.dimmed .ridge-plot-outline {
  stroke: lightGrey; }

.ridge-g.dimmed .ridge-plot-name {
  fill: lightGrey; }

.ridge-plot-name.hover {
  fill: black !important; }

/* comparision */
.comparison .names {
  text-align: center; }

.comparison .label:not(:last-child) {
  margin-right: 20px; }

.comparison .label-bg {
  width: 60px;
  height: 20px;
  display: inline-block; }

.comparison .label-0 {
  background-color: red; }

.comparison .label-1 {
  background-color: blue; }

.comparison .label-2 {
  background-color: green; }

.comparison .label-3 {
  background-color: yellow; }

.comparison .fill-0 {
  fill: red; }

.comparison .fill-1 {
  fill: blue; }

.comparison .fill-2 {
  fill: green; }

.comparison .fill-3 {
  fill: yellow; }

.comparison .temp-line {
  fill: none;
  stroke-width: 2px; }

.comparison .line-0 {
  stroke: red; }

.comparison .line-1 {
  stroke: blue; }

.comparison .line-2 {
  stroke: green; }

.comparison .line-3 {
  stroke: yellow; }

/* override */
.Select-multi-value-wrapper .Select-value {
  color: DarkGreen; }
