@import './colors.scss';

.app-title {
  background-color: $bg-title;
}

.app-map {
  background-color: $map-water;
  padding-right: 0;
  padding-left: 0;
}

.map-wrapper {
  float: left;
}

.map-usa-states, .map-usa, .map-neighbor {
  stroke: $map-path;
}
.map-usa-states {
  fill: $map-usa;
}
.map-usa {
  fill: none;
}
.map-neighbor {
  fill: $map-neighbor;
}
.map-park-size {
  fill: $area;
}
.ridge-parks {
  stroke: $ridge;
  fill: white;
  stroke-linecap: round;
}
.ridge-parks.active {
  fill: $ridge;
}
.ridge-parks.defocused {
  fill: $dark;
}

.ridge-blank {
  stroke: $ridge-blank;
}

/* ridge plots */
.ridge-plots {
  padding-top: 20px;
}
.ridge-month {
  .month-label {
    font-size: 10px;
    fill: grey;
    text-anchor: middle;
  }
  .month-line {
    stroke: lightGrey;
  }
}
.ridge-plot-fill {
  stroke: none;
}

.ridge-plot-outline {
  fill: none;
  stroke: $dark;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.ridge-plot-outline.active {
  stroke-width: 2;
}

.ridge-plot-name {
  text-anchor: end;
  font-size: 10px;
  cursor: pointer;
}
.ridge-g.defocused {
  .ridge-plot-fill {
    fill: none !important;
  }
  .ridge-plot-outline {
    stroke: grey;
  }
  .ridge-plot-name {
    fill: grey;
  }
}

/* dimmmed comes later than defocused for overriding */
.ridge-g.dimmed {
  .ridge-plot-fill {
    fill: none !important;
  }
  .ridge-plot-outline {
    stroke: lightGrey;
  }
  .ridge-plot-name {
    fill: lightGrey;
  }
}

.ridge-plot-name.hover {
  fill: black !important;
}

/* comparision */
.comparison {
  .label:not(:last-child) {
    margin-right: 20px;
  }
  .label-bg {
    width: 60px;
    height: 20px;
    display: inline-block;
  }
  .label-0 {
    background-color: $comp-0;
  }
  .label-1 {
    background-color: $comp-1;
  }
  .label-2 {
    background-color: $comp-2;
  }
  .label-3 {
    background-color: $comp-3;
  }
  .circle-0 {
    fill: $comp-0;
  }
  .circle-1 {
    fill: $comp-1;
  }
  .circle-2 {
    fill: $comp-2;
  }
  .circle-3 {
    fill: $comp-3;
  }
}

/* override */
.Select-multi-value-wrapper {
    .Select-value {
      color: $ridge;
    }
}
