@import './colors.scss';

.app-title {
  background-color: $bg-title;
}

.app-map {
  background-color: $map-water;
  padding-right: 0;
  padding-left: 0;
}

.map-wrapper {
  float: left;
}

.map-usa-states, .map-usa, .map-neighbor {
  stroke: $map-path;
}
.map-usa-states {
  fill: $map-usa;
}
.map-usa {
  fill: none;
}
.map-neighbor {
  fill: $map-neighbor;
}
.map-park-size {
  fill: $area;
}
.ridge-parks {
  stroke: $ridge;
  fill: white;
  stroke-linecap: round;
}
.ridge-parks.active {
  fill: $ridge;
}

.ridge-blank {
  stroke: $ridge-blank;
}

/* ridge plots */
.ridge-plots {
  padding-top: 20px;
}
.ridge-plot-fill {
  stroke: none;
}
.ridge-plot-fill.hover {
  display: none;
}

.ridge-plot-outline {
  stroke: $dark;
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.ridge-plot-outline.hover {
  stroke-width: 2;
}
.ridge-plot-name {
  text-anchor: end;
  font-size: 10px;
  cursor: pointer;
}
.ridge-g.dimmed {
  .ridge-plot-fill {
    fill: none !important;
  }
  .ridge-plot-outline {
    stroke: lightGrey;
  }
  .ridge-plot-name {
    fill: lightGrey;
  }
}
