$bg-title: PaleGoldenrod;

$map-water: Azure;
$map-usa: white;
$map-neighbor: #efefef;
$map-path: #ccc;

$ridge: DarkGreen;
$ridge-blank: #efefef;

$area: transparentize(olive, 0.5);

$dark: SaddleBrown;

$comp-0: red;
$comp-1: blue;
$comp-2: green;
$comp-3: yellow;
