$bg: #f1eab9;
$main: #047023;
$main-dark: #0a3717;
$selected: red;
$blue: #0a2460;
$black: #1d1900;
$grey: #63625c;
$white: white;

$map-water: Azure;
$map-usa: white;
$map-neighbor: #efefef;
$map-path: #ccc;

$ridge: DarkGreen;
$ridge-blank: #efefef;
$dark: brown;
$area: transparentize(olive, 0.5);

$comp-0: red;
$comp-1: blue;
$comp-2: green;
$comp-3: yellow;
