/* override react-select styles*/
.Select {
  font-family: $serif;
}
.Select-control {
  color: $main-dark;
  .Select-placeholder {
    color: $main-dark;
  }
}
.Select-option {
  color: $grey;
}
.Select-option.is-focused {
  background-color: $bg;
  color: $main-dark;
}

/* only for single selection */
.Select--single.is-focused:not(.is-open) > .Select-control {
  border-color: $main;
  box-shadow: none;
}
.Select-menu-outer {
  .Select-option.is-selected {
    background-color: $bg-light;
  }
}

/* only for Multi selection */
.Select--multi.is-focused:not(.is-open) > .Select-control {
  border-color: $bg;
  box-shadow: none;
}
.Select.Select--multi {
  .Select-control {
    padding-bottom: 2px;
  }
  .Select-value {
    font-size: 1em;
    border-color: $main;
    color: $main;
    background-color: $bg-light;
    .Select-value-icon {
      border-right-color: $main;
      &:hover {
        color: $selected;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    &:nth-last-child(2) {
      color: $selected;
    }
  }
  .Select-input {
    height: '';
  }
}
